{% extends 'whelly/commons/base.html.twig' %}
{% block body %}
    <!-- start page-title -->
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <h2>A propos de whely</h2>
                    <ol class="breadcrumb">
                        <li><a href="{{ path('whelly_index') }}">Accueil</a></li>
                        <li>A propos</li>
                    </ol>
                </div>
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- end page-title -->
    <!-- start about-us-section -->
    <section class="about-us-section about-us-page-section section-padding p-b-0">
        <div class="container">
            <div class="row">
                <div class="col col-md-7">
                    <div class="section-title">
                        <span>A propos</span>
                        <h2>Whelly<span>Moderne et dynamique</span></h2>
                    </div>
                    <div class="details">
                        <p>
                            Dans une recherche constante de solutions innovantes, l’ambition de Welhy est d’apporter le
                            bien-être aux entreprises dans leur environnement de travail et aux particuliers dans leur
                            tâche quotidienne. Notre vision de se bien-être consiste à apporter les services supports de
                            qualité aux équipes pour les accompagner dans la réalisation de leurs objectifs.
                            Après le temps du travail, vient naturellement le temps du repos. Ainsi, Welhy ambitionne
                            aussi de rendre votre temps de repos divertissant et enrichissant.
                        </p>
                        <p>
                            Constitué d’une équipe dynamique et professionnelle forgée par une expérience acquise auprès
                            de grands groupes, Welhy dispose de toutes les ressources et une expertise aiguisée pour
                            assurer un service de qualité dans la gestion des bases vies.
                            Pour cela nous déployons des équipes pour :

                        </p>
                        <ul>

                            <li><i class="ti-arrow-circle-right"></i> Catering – Restauration collective</li>
                            <li><i class="ti-arrow-circle-right"></i> Gestion de l’hébergement</li>
                            <li><i class="ti-arrow-circle-right"></i> Services de nettoyage des locaux (bureaux et
                                domiciles)
                            </li>
                            <li><i class="ti-arrow-circle-right"></i> Services de buanderie</li>
                            <li><i class="ti-arrow-circle-right"></i> Gestion et entretien des équipements (Facility
                                management)
                            </li>
                            <li><i class="ti-arrow-circle-right"></i> Animation du camp</li>
                        </ul>
                        <p></p>
                        <p>
                            Welhy par sa connaissance de l’environnement local et le réseau qu’à tisser ses dirigeants,
                            assure des services de supports pour accompagner les organisations dans tout le processus
                            d’installation en Guinée :
                        </p>
                        <ul>
                            <li><i class="ti-arrow-circle-right"></i> Proposition de solution d’hébergement (dès la
                                manifestation du projet de venir travailler en Guinée)
                            </li>
                            <li><i class="ti-arrow-circle-right"></i> Formalités administratives (Visas, autres
                                autorisations)
                            </li>
                            <li><i class="ti-arrow-circle-right"></i> Accueil a l’aéroport</li>
                            <li><i class="ti-arrow-circle-right"></i> Proposition de bureau temporaire ou permanant</li>
                            <li><i class="ti-arrow-circle-right"></i> Logistique de déplacement vers les sites</li>
                        </ul>
                        <p></p>

                        <p>Welhy, aujourd’hui fait face à une demande croissante d’offrir certains services déployés sur
                            les bases vies, aux entreprises de la capitale et à domicile, entre autres :</p>
                        <p></p>
                        <ul>
                            <li><i class="ti-arrow-circle-right"></i> Les services d’Entretien et de Nettoyage des locaux ;   </li>
                            <li><i class="ti-arrow-circle-right"></i>  Les services de petite maintenance et réparation (menuiserie, plomberie...) ;  </li>
                            <li><i class="ti-arrow-circle-right"></i>  Les services de conciergerie ( coursiers,</li>
                        </ul>
                    </div>
                    <div class="ceo-quote">
                        <blockquote>
                            Au-delà de notre maitrise de l’environnement Professionnel, Welhy propose des circuits touristiques de divertissement dans un cadre qui répond aux normes d’hygiène,  de santé et de sécurité.
                            Nous vous ferrons découvrir les beaux sites et monuments de la Guinée avec des guides formés pour rendre vos découvertes inoubliables. Notre approche consiste à de l’écotourisme dans un cadre amusant et culturel pour des nationaux et expatriés, résidents en Guinée en manque d’offre de divertissement.

                            <span> - Whely {{ 'now'|date ('Y')}}</span>
                        </blockquote>
                    </div>
                </div>
                <div class="col col-md-5">
                    <div class="img-holder about-image">
                        <img src="assets/images/conctact.jpg" alt>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>
    <!-- end about-us-section -->
{% endblock %}