{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <section class="subpage-header">
        <div class="container">
            <div class="site-title clearfix">
                <h2>Services</h2>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('home_page') }}">Accueil</a></li>
                    <li><a href="{{ path('service_list') }}">Nos services</a></li>
                    <li>{{ active_service.title|lower }}</li>
                </ul>
            </div>
            <a href="{{ path('contact') }}" class="btn btn-primary get-in-touch" data-text="Contact us"><i class="icon-telephone114"></i>Contact us</a>
        </div>
    </section>
</div>
    <!-- SERVICES CONTENT -->
    {% include 'common/services_content.html.twig' %}
    <!-- / SERVICES CONTENT -->
{% endblock %}

