{% extends 'base.html.twig' %}

{% block title %}service{% endblock %}

{% block body %}

    <!-- SERVICES CONTENT -->
    <section class="empty-service">
        <div class="container">
            <div class="row">
                <div class="row">
                    <h4 class="text-center">Aucun service disponible</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- / SERVICES CONTENT -->
{% endblock %}
