<section class="about-us-section-s2 section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <div class="img-holder about-image">
                    <img src="assets/images/about-s2.jpg" alt>
                </div>
            </div>
            <div class="col col-md-7">
                <div class="about-details">
                    <div class="section-title">
                        <span>A propos</span>
                        <h2>Moderne & Puissant <span>Whelly service</span></h2>
                    </div>
                    <div class="details">
                        <p>WELHY est constituée au tour d’une équipe<strong>professionnelle et dynamique</strong>capitalisant une riche expérience à différents niveaux de responsabilités dans de grands groupes tant en Afrique que dans le reste du monde</p>
                        <ul>
                            <li><i class="ti-arrow-circle-right"></i> Les services de petite maintenance et réparation (menuiserie, plomberie...) ; </li>
                            <li><i class="ti-arrow-circle-right"></i> Les services de conciergerie ( coursiers, </li>
                            <li><i class="ti-arrow-circle-right"></i> Les services d’Entretien et de Nettoyage des locaux ;  </li>
                        </ul>
                    </div>
                    <div class="ceo-quote">
                        <blockquote>
                            <span>- Adam ( Notre plombier )</span>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
