<section class="contact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="left-col">
                    <div class="img-holder">
                        <img src="assets/images/conctact.jpg" alt="whely contct">
                        <div class="call-back">
                            <h3>500+</h3><span>rappelle-nous</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="contact-form">
                    <div class="section-title">
                        <span>Nous contacter</span>
                        <h2>vous pouvez nous contacter, <span>pour vos questions</span></h2>
                    </div>
                    <form method="post" class="contact-validation-active" id="contact-form-main2">
                        <div>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Name*" value="nom">
                        </div>
                        <div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email*" value="prenom@gmail.com">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone*" value="3370186892">
                        </div>
                        <div>
                            <input type="text" class="form-control" name="phone" id="object" placeholder="Objet de votre demande*" value="">
                        </div>
                        <div class="fullwidth">
                            <textarea class="form-control" name="note"  id="note" placeholder="Case Description..." value="ma demande"></textarea>
                        </div>
                        <div class="submit-area">
                            <button type="submit" class="submit-btn">Envoyer</button>
                            <div id="loader">
                                <i class="ti-reload"></i>
                            </div>
                        </div>
                        <div class="clearfix error-handling-messages">
                            <div id="success">Merci</div>
                            <div id="error"> Une erreur s'est produite lors de l'envoi de l'e-mail. Veuillez réessayer plus tard. </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
