<section class="cta-section-s2">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
                <div class="cta-details">
                    <p>{{ 'whelly.section.cta.text'|trans }}</p>
                    <h2>{{ 'whelly.section.cta.title'|trans }}</h2>
                    <a href="{{ path('whelly_contact') }}" class="theme-btn">{{ 'whelly.section.cta.contact'|trans }}</a>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>