<section class="features-section-s2">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="feature-grids clearfix">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/features/logo.png" alt>
                        </div>
                        <h3>01. Catering – Restauration collective</h3>
                        <p>Nous vous proposons des services de restauration allant de la cafétéria, au restaurant d’entreprise, en passant par la restauration événementielle.. </p>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/features/logo.png" alt>
                        </div>
                        <h3>02. Gestion de l’hébergement</h3>
                        <p>De l’aéroport au lieu de travail, nous vous proposons une gamme de services complète comprenant l’Accueil, l’hébergement, et le transport. </p>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/features/logo.png" alt>
                        </div>
                        <h3>03.Services de nettoyage des locaux (bureaux et domiciles)</h3>
                        <p> Comptez sur nous, pour la gestion, l’entretien et la maintenance de l‘ensemble de vos espaces professionnels.
                        </p>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/features/logo.png" alt>
                        </div>
                        <h3>04. Services de buanderie</h3>
                        <p>Que ça soit sur site ou chez vous, nous vous proposons un service de buanderie sur mesure de qualité pour répondre à votre besoin. </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
