<section class="services-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <div class="section-title-s4">
                    <span>Services</span>
                    <h2>Nos prestations <span>A votre service</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="service-grids clearfix">
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/restauration.jpg" alt="whelly restautation collective">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-solar-energy"></i>
                            <h3><a href="#">Catering – Restauration collective</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/gestion_hebergement.jpg" alt="whely hebergement">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-plug"></i>
                            <h3><a href="#">Gestion de l’hébergement</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/nettoyage.jpg" alt="nettoyage">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-oil-barrel"></i>
                            <h3><a href="#">Services de nettoyage des locaux (bureaux et domiciles)</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/buamderie.jpg" alt="whely buanderie=">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-oil-1"></i>
                            <h3><a href="#">Services de buanderie</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/facility-management.jpg" alt="whely facility management">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-truck"></i>
                            <h3><a href="#">Gestion et entretien des équipements (Facility management)</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="img-holder">
                            <img src="assets/images/services/entretienespacevert.jpg" alt="welhy espace vert">
                        </div>
                        <div class="details">
                            <i class="fi flaticon-factory"></i>
                            <h3><a href="#">Entretien des espaces verts</a></h3>
                            <p>Recently cut out of an illustrated magine and housed indust</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
