{#
<section class="testimonials-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="testimonial-grids testimonials-slider">
                    <div class="grid">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/images/testimonials/img-1.jpg" alt>
                            </div>
                            <h4>Jhon Dow</h4>
                            <span>Manager of Demok</span>
                        </div>
                        <div class="client-quote">
                            <p>“collection of textile samples lay spread out on the table Samsa was a travelling
                                salesman and above it there hung a picture that he had recently cut out of an
                                illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out
                                with a fur”</p>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="client-info">
                            <div class="client-pic">
                                <img src="assets/images/testimonials/img-2.jpg" alt>
                            </div>
                            <h4>Jhon Dow</h4>
                            <span>Manager of Demok</span>
                        </div>
                        <div class="client-quote">
                            <p>“collection of textile samples lay spread out on the table Samsa was a travelling
                                salesman and above it there hung a picture that he had recently cut out of an
                                illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out
                                with a fur”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
#}
