<section class="why-choose-us-section section-padding p-t-0">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="inner-area">
                    <div class="section-title">
                        <span>Why Choose us</span>
                        <h2>15 ans  d'experience <span> dans l'accompagnement d'entreprise</span></h2>
                    </div>
                    <div class="details">
                        <p>Welhy a pour ambition de fournir aux entreprises operant en Guinée, une gamme complete de services allant de l’acceuil à l’arrivée aux services sur sites. Nous accompagnons nos clients dès la manifestion de leur intention de venir en Guinée. A cet effet, Welhy apporte des solutions comprenant </p>
                        <div class="skills">
                            <div class="skill">
                                <h6>Service de support aux entreprises</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="85"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>Service aux particuliers.</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>Construction</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="92"></div>
                                </div>
                            </div>
                            <div class="skill">
                                <h6>Tourisme et loisir.</h6>
                                <div class="progress">
                                    <div class="progress-bar" data-percent="95"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="img-holder">
                    <img src="assets/images/EXPERIENCE.jpg" alt>
                </div>
            </div>
        </div>
    </div>
</section>
