
<section class="subpage-header">
    <div class="container">
        <div class="site-title clearfix">
            <h2>Services</h2>
            <ul class="breadcrumbs">
                <li><a href="{{ path('home_page') }}.">Accueil</a></li>
                {% if active_service is defined %}
                <li>{{ active_service.title }}</li>
                {% endif %}
                {% if contact is defined %}
                    <li>Contact</li>
                {% endif %}
            </ul>
        </div>
        <a href="#" class="btn btn-primary get-in-touch" data-text="contact">
            <i class="icon-telephone114"></i>Contact</a>
    </div>
</section>