<section class="bg-blue">
    <div class="container">
        <div class="heading text-center animate bounceIn">
            <h2>Happy Customers</h2>
        </div>
        <div class="single-item-carousel owl-carousel">
            <div class="testimonial-2 animate fadeInUp" data-delay="100">
                <div class="testimonials-author">
                    <img class="img-circle" src="{{ asset('images/review-author-img.png')}}" alt="">
                    <p>Boris Hunt<span>(Sales Agent)</span></p>
                </div>
                <div class="testimonial-content">
                    <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt. Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore Love life’s sweetest.</p>
                </div>
            </div>
            <div class="testimonial-2 animate fadeInUp" data-delay="100">
                <div class="testimonials-author">
                    <img class="img-circle" src="{{ asset('images/review-author-img.png')}}" alt="">
                    <p>Boris Hunt<span>(Sales Agent)</span></p>
                </div>
                <div class="testimonial-content">
                    <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adi pisi cing elit,
                        sed do eiusmod tempor exercitationemut labore Love life’s sweetest.
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.

                    </p>
                </div>
            </div>
            <div class="testimonial-2 animate fadeInUp" data-delay="100">
                <div class="testimonials-author">
                    <img class="img-circle" src="{{ asset('images/review-author-img.png')}}" alt="">
                    <p>Boris Hunt<span>(Sales Agent)</span></p>
                </div>
                <div class="testimonial-content">
                    <ul class="rating">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <p>Sed do eiusmod tempor exercitationemut labore Love life’s sweetest lorem ipsum dolor sit amet, consectetur adi pisi cing elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt.</p>
                </div>
            </div>
        </div>
    </div>
</section>
