{% extends 'base.html.twig' %}
{% block body %}
    <!-- HERDER -->
    <!-- / HERDER -->

    <!-- MAIN BANNER -->
    {% include 'common/main_banner.html.twig' %}
    <!-- / MAIN BANNER -->

    <section class="padding-bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="doing-the-right-text">BAFING <span class="color-purple"> MULTI </span> SERVICE.</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        L’informatique a toujours été une passion pour nous, avant d’être notre métier, c’est pour cette
                        raison que nous nous appliquons chaque jour à faire que nos services informatiques soient de
                        qualité, et à fournir à nos clients les solutions informatiques les plus innovantes et les mieux
                        adaptées à leurs besoins..
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- OUR PRESENTATIONS -->
    {% include 'common/our_presentation.html.twig' %}
    <!-- END OUR PRESENTATIONS -->
    <!-- FUNFACTS -->
    {% include'common/funfacts.html.twig' %}
    <!-- / FUNFACTS -->
    <!-- END OUR SERVICES -->
    {% include 'common/our_services.html.twig' %}
    <!-- / OUR SERVICES -->
    <!-- WHY PEOPLE CHOOSE US -->
    {#
    {% include 'common/why_poeple_choose_us.html.twig' %}
    #}
    <!-- / WHY PEOPLE CHOOSE US -->

    <div class="contact-us-bar dark">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h4 class=" animate fadeInLeft">Si vous avez des questions concernant vos projets ... nous sommes
                        disponibles</h4>
                </div>
                <div class="col-md-3">
                    <div class="text-right">
                        <a href="{{ path('contact') }}"
                           class="btn btn-white get-in-touch animate fadeInRight"
                           data-text="{{ 'app.menu.contact_us'|trans }}">
                            <i class="icon-telephone114"></i>{{ 'app.menu.contact_us'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MEET OUR ADVISORS -->
    {% include'common/meet_your_advisor.html.twig' %}
    <!-- / MEET OUR ADVISORS -->
    <!-- TESTIMONIALS -->
    {# {% include 'common/testimonial' %} #}
    <!-- / BENIFITS -->
    <!-- REQUEST A CALLBACK -->
    {% include 'common/request_a_callback.html.twig' %}
    <!-- / REQUEST A CALLBACK -->
    <!-- OUR PARTNERS -->
    {% include 'common/partener.html.twig' %}
    <!-- / OUR PARTNERS -->

{% endblock %}
