{% extends 'base.html.twig' %}
{% block body %}
    <section class="subpage-header">
        <div class="container">
            <div class="site-title clearfix">
                <h2>Login</h2>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('home_page') }}">Home</a></li>
                    <li>login</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- SERVICES CONTENT -->
    <section>

        <div class="container">
            {% if app.user %}
            {% else %}
                <div class="row col-3">
                    {{ form(form) }}
                </div>
                <div class="pull-left"><a href="{{ path('registration') }}">inscription</a> </div>
            {% endif %}
    </section>
    <!-- / SERVICES CONTENT -->
    </div>
{% endblock %}

